@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Josefin+Sans:ital,wght@0,200;0,300;1,100;1,200;1,300&display=swap");
@import "reset.css";
@import "variables.css";
@import "animation.css";

/* components */
@import "components/nav-bar.css";

/* screens */
@import "screens/main-home.css";
@import "screens/introduce.css";
@import "screens/project.css";

body {
  background-color: var(--back-color);
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  padding: 3vh 2vw;
}

a {
  text-decoration: none;
  color: inherit;
}
