.intro {
  font-family: "Dongle", sans-serif;
  margin-top: 30vh;
  color: var(--font-color);
  font-size: 2rem;
}

.intro__container {
  margin: 10vh 10vw;
}

.intro__img img {
  width: 100px;
  height: 100px;
}
