.intro {
  font-family: "Dongle", sans-serif;
  color: var(--font-color);
  font-size: 2rem;
  margin: 25vh 0;
}

.bx-controls {
  position: relative;
}

.intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__img img {
  width: 200px;
  height: 200px;
  margin-right: 100px;
}

.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
  position: absolute;
  top: -150px;
}

.bx-controls-direction .bx-prev {
  left: 20%;
}

.bx-controls-direction .bx-next {
  left: 80%;
}

.bx-has-controls-direction .bx-pager {
  position: absolute;
  left: 50%;
  top: 70px;
  font-size: 1.5rem;
}

.intro__slider-controls:hover .bx-prev,
.intro__slider-controls:hover .bx-next {
  visibility: visible;
}
