.home {
  color: var(--font-color);
  padding-top: 18vh;
  text-align: center;
}

.home-animation {
  display: flex;
  margin: 12vh auto;
  justify-content: center;
  width: 20rem;
  margin-bottom: 80px;
}

.home-animation svg {
  display: inline-block;
  margin: 0 -0.01em;
  /* alternate 애니메이션이 끝나고 다시 자연스럽게 시작하는것 */
  animation: loading 7s infinite alternate;
}

.home-animation svg:first-child {
  opacity: 0.1;
  animation-delay: 1s;
}

.home-animation svg:nth-child(2) {
  opacity: 0.3;
  width: 120%;
  animation-delay: 2s;
}

.home-animation svg:nth-child(3) {
  opacity: 0.5;
  width: 140%;
  animation-delay: 3s;
}

.home-animation svg:nth-child(4) {
  opacity: 0.7;
  width: 160%;
  animation-delay: 4s;
}

.home-animation svg:nth-child(5) {
  opacity: 0.9;
  width: 180%;
  animation-delay: 5s;
}

.home-animation svg:last-child {
  opacity: 1;
  width: 200%;
  animation-delay: 6s;
}

@keyframes loading {
  0%,
  100% {
    opacity: 0.1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-15px);
  }
}

.home-box {
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0 2vw;
}

.home-box__title {
  margin: 2vh 7vw;
}

.home-box__contents {
  font-size: 1.8rem;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 2vw;
  padding: 2vh 40px;
  text-align: start;
  line-height: 38px;
  border: 1px solid var(--font-color);
}

.home-box__contents svg {
  vertical-align: middle;
}

footer {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  font-size: 1.2rem;
  margin-top: 20vh;
  padding-bottom: 2vh;
}

.footer-list {
  padding: 5px 3px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
