main {
  font-family: "Dongle", sans-serif;
  color: var(--font-color);
  width: 100%;
}

.project__container {
  background-color: var(--font-color);
  color: var(--back-color);
  padding: 25vh 5vw 10vh 5vw;
  font-size: 3rem;
  width: 80%;
  position: absolute;
  left: 5%;
}

.project__row {
  display: flex;
  justify-content: space-between;
}

/* 사진과 글씨의 여백 */
.section_1 .project__explanation,
.section_2 .project__slider-controls,
.section_3 .project__explanation {
  margin-right: 50px;
  margin-bottom: 50px;
}

.section_2 {
  margin: 20vh 0;
}

.project__title {
  margin-bottom: 2vh;
  /* 드롭다운 위치 조정때문에 부모 지정.  */
  position: relative;
  border-bottom: 1px solid var(--back-color);
}

/* --------- 드롭다운 --------- */
.project__expandBtn {
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: var(--font-color);
  color: var(--back-color);
  /* 위치 조정 */
  position: absolute;
  top: 10px;
  transform: translateY(50%);
  right: -4px;
}

.project__expanded-contents {
  display: none;
  padding: 5px;
  border: 1px solid var(--back-color);
  /* 위치 조정 */
  position: absolute;
  top: 48px;
  width: 100%;
  background-color: var(--font-color);
  z-index: 1;
}
/* ------------------------- */

.project__contents {
  margin-bottom: 100px;
}

.project__url {
  padding-right: 50px;
}

.project__slider li img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

/* prev, next 버튼 위치 조정하기 위한 부모 지정*/
.project__slider-controls {
  position: relative;
}

/* 이미지 hover시 버튼 보이게 하려고 */
.project__slider-controls .bx-prev,
.project__slider-controls .bx-next {
  visibility: hidden;
  position: absolute;
  transform: translateY(-500%);
  top: -40px;
  color: var(--font-color);
}

/* section3 이미지 크기가 달라서 버튼 위치 따로 지정 */
.section_3 .project__slider-controls .bx-prev,
.section_3 .project__slider-controls .bx-next {
  top: 100px;
}

.section_3 .project__slider-controls .bx-next {
  right: 15%;
}

.project__slider-controls .bx-prev {
  left: 10px;
}

/* 반응형으로 화면 줄어들 때, 버튼이 이미지 위에
   그대로 고정되게 하려고 left 기준으로 잡아줌. */
.project__slider-controls .bx-next {
  left: 362px;
}

/* 사진 밑에 page 보이는 부분 조정 */
.project__slider-controls .bx-pager {
  position: absolute;
  left: 165px;
  transform: translateX(50%);
  font-size: 1.5rem;
}

.project__slider-controls:hover {
  opacity: 0.5;
}

/* 사진 hover시 bx-prev, bx-next 버튼이 나타나게끔 작동하려면
 project__slider-controls의 자손이어야 함.
 project__slider에 hover하면 부모에 해당 안되므로 
 아무 일도 일어나지 않음. */
.project__slider-controls:hover .bx-prev,
.project__slider-controls:hover .bx-next {
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .project__row {
    flex-direction: column;
  }

  .section_2 {
    margin: 25vh 0;
  }
}
